@charset 'UTF-8';

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.woff2') format('woff2');
}

@font-face
{
    font-family: 'Kollektif';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Kollektif.woff') format('woff'), url('../fonts/Kollektif.woff2') format('woff2');
}

img
{
    max-width: 100%;
    height: auto;

    vertical-align: bottom;
}

.video
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 56.25%;
}

.video iframe,
.video object,
.video embed
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

*
{
    font-family: Roboto;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;

    color: #4f4f4f;
    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    scroll-behavior: smooth;
}

a,
input,
button
{
    resize: none;
    cursor: pointer;
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    outline: none !important;
}

.container
{
    max-width: 1180px;
    margin: 0 auto;
}

section
{
    padding: 120px 0;

    border-bottom: 1px solid #8e8e8e;
}

h1
{
    font-size: 70px;

    text-transform: uppercase;
}

h2
{
    font-size: 45px;

    margin-bottom: 100px;

    text-align: center;
    text-transform: uppercase;
}

h3
{
    font-size: 25px;

    text-transform: uppercase;
}

h4
{
    font-size: 16px;

    margin-bottom: 80px;
}

h5
{
    font-size: 15px;
}

p
{
    font-size: 14.5px;
}

@-webkit-keyframes listItems
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    33.33%
    {
        -webkit-transform: rotate(-7.5deg);
                transform: rotate(-7.5deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    66.33%
    {
        -webkit-transform: rotate(7.5deg);
                transform: rotate(7.5deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    to
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes listItems
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    33.33%
    {
        -webkit-transform: rotate(-7.5deg);
                transform: rotate(-7.5deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    66.33%
    {
        -webkit-transform: rotate(7.5deg);
                transform: rotate(7.5deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    to
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

.header
{
    position: fixed;
    z-index: 6;
    top: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 70px;

    background-color: #f8f8f8;
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
            box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__body
{
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style-type: none;

    background-color: #f8f8f8;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header__list li a
{
    font-weight: 600;

    display: inline-block;

    padding: 10px 20px;

    text-transform: uppercase;
}

.header__list li a:hover
{
    -webkit-animation-name: listItems;
            animation-name: listItems;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

.header__mask
{
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 70px;

    background-color: #f8f8f8;
}

.about
{
    margin-top: 70px;
}

.about__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__info
{
    min-width: 40%;
    margin-right: 10%;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
}

.about__info h1
{
    margin-bottom: 10px;
}

.about__info p
{
    font-family: Kollektif;
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;

    color: #898989;
}

.about__mypicture
{
    float: right;

    max-height: 500px;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
        flex: 1 1 40%;
}

@-webkit-keyframes skillsSpinnerActive
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes skillsSpinnerActive
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes skillsLeftActive
{
    0%
    {
        background-color: #f8f8f8;
    }

    100%
    {
        background-color: #dfdfdf;
    }
}

@keyframes skillsLeftActive
{
    0%
    {
        background-color: #f8f8f8;
    }

    100%
    {
        background-color: #dfdfdf;
    }
}

@-webkit-keyframes skillsRightActive
{
    from
    {
        z-index: 3;
    }

    to
    {
        z-index: 1;
    }
}

@keyframes skillsRightActive
{
    from
    {
        z-index: 3;
    }

    to
    {
        z-index: 1;
    }
}

@-webkit-keyframes skillsFade
{
    from
    {
        margin-top: 5px;

        opacity: 0;
    }

    to
    {
        margin-top: 20px;

        opacity: 1;
    }
}

@keyframes skillsFade
{
    from
    {
        margin-top: 5px;

        opacity: 0;
    }

    to
    {
        margin-top: 20px;

        opacity: 1;
    }
}

.skills__body
{
    text-align: center;
}

.skills__body h2
{
    margin-bottom: 0;
}

.skills__body h4
{
    opacity: .3;
}

.skills__body h4:hover span
{
    opacity: .5;
}

.skills__body h5
{
    font-style: oblique;
}

.skills__body span
{
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 0;
}

.skills__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skills__element
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 20px 10px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}

.skills__item
{
    position: relative;
    z-index: 4;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 8px;

    border: 2px solid gray;
    border-radius: 50%;
    background-color: #f8f8f8;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skills__item-spinner
{
    position: absolute;
    z-index: 2;

    width: 101%;
    height: 101%;

    border-radius: 0 100% 100% 0;
    background-color: #dfdfdf;

    -webkit-clip-path: inset(0 0 0 50%);
            clip-path: inset(0 0 0 50%);
}

.skills__item-spinner.active
{
    -webkit-animation-name: skillsSpinnerActive;
            animation-name: skillsSpinnerActive;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.skills__item-left
{
    position: absolute;
    z-index: 1;

    width: 101%;
    height: 101%;

    border-radius: 100% 0 0 100%;
    background-color: #f8f8f8;

    -webkit-clip-path: inset(0 50% 0 0);
            clip-path: inset(0 50% 0 0);
}

.skills__item-left.active
{
    -webkit-animation-name: skillsLeftActive;
            animation-name: skillsLeftActive;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
    -webkit-animation-delay: .15s;
            animation-delay: .15s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.skills__item-right
{
    position: absolute;
    z-index: 3;

    width: 101%;
    height: 101%;

    border-radius: 0 100% 100% 0;
    background-color: #f8f8f8;

    -webkit-clip-path: inset(0 0 0 50%);
            clip-path: inset(0 0 0 50%);
}

.skills__item-right.active
{
    -webkit-animation-name: skillsRightActive;
            animation-name: skillsRightActive;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-delay: .15s;
            animation-delay: .15s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.skills__item-pic
{
    z-index: 4;

    width: 150px;

    border: 2px solid gray;
    border-radius: 50%;
}

.skills picture
{
    z-index: 4;
}

.skills__list-childs
{
    position: absolute;
    z-index: 5;
    top: 85%;

    display: none;

    list-style-type: none;

    border-radius: 3px;
    background-color: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skills__list-childs.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-animation: skillsFade .5s;
            animation: skillsFade .5s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.skills__child
{
    font-family: Kollektif;

    width: 100%;
    margin-top: 4px;
    padding: 5px 12px;

    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    text-align: center;

    opacity: 0;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fff;
}

.skills__child.active
{
    opacity: 1;
}

.education__materials
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.education__selfstudy
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.education__classicstudy
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.education__element
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 10px;
    padding: 25px;

    border: 5px dashed gray;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.education__element.university
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 45%;
        flex: 1 1 45%;
}

.education__element.pcyc
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55%;
        flex: 1 1 55%;
}

.education__element.books-courses
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55%;
        flex: 1 1 55%;
}

.education__element.videos-articles
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 45%;
        flex: 1 1 45%;
}

.education__element h3
{
    margin-left: 18px;

    opacity: .8;
}

.education__element li
{
    font-size: 18px;

    opacity: .7;
}

.education__element li::before
{
    font-size: 22px;

    content: '• ';
}

.portfolio__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.portfolio__element
{
    position: relative;

    margin: 2%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    -webkit-box-shadow: 5px 5px 15px 0 rgba(50, 50, 50, .75);
            box-shadow: 5px 5px 15px 0 rgba(50, 50, 50, .75);

    -webkit-box-flex: 0;
    -ms-flex: 0 1 28%;
        flex: 0 1 28%;
}

.portfolio__info
{
    position: absolute;

    width: 100%;
    height: 100%;
}

.portfolio__options
{
    position: absolute;
    z-index: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
    background-color: rgba(0, 0, 0, .85);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio__options .portfolio__header-1
{
    margin-bottom: 20%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.portfolio__options .portfolio__header-2
{
    margin-top: 20%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.portfolio__options a
{
    font-family: Kollektif;
    font-size: 22px;
    font-weight: 500;

    width: 50%;
    padding: 10px 15px;

    text-align: center;
    text-transform: none;

    color: white;
    border: 1px solid white;
    background-color: black;
}

.portfolio__options:hover
{
    z-index: 1;

    opacity: 1;
}

.portfolio__options:hover .portfolio__header-1
{
    margin-bottom: 5px;
}

.portfolio__options:hover .portfolio__header-2
{
    margin-top: 5px;
}

.portfolio__options:hover .portfolio__slider
{
    background-color: rgba(0, 0, 0, .8);
}

.portfolio__picture
{
    width: 100%;
}

@-webkit-keyframes contactFade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes contactFade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.contact__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 800px;
    margin: 0 auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.contact__email-name
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact__email-name input
{
    font-size: 20px;

    width: auto;
    max-width: 49%;
    margin-bottom: 2%;
    padding: 6px 12px;

    cursor: text;

    border: 1px solid gray;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

.contact__message
{
    font-size: 20px;

    height: 150px;
    margin-bottom: 20px;
    padding: 6px 12px;

    resize: none;

    border: 1px solid gray;
    outline: none;
}

.contact__send
{
    font-size: 20px;

    max-width: 30%;
    margin: 0 auto;
    padding: 5px 20px;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border: 1px solid gray;
    background-color: white;
}

.contact__send:hover
{
    background-color: rgba(128, 128, 128, .1);
}

.contact__send:active
{
    background-color: rgba(128, 128, 128, .3);
}

.contact__modal
{
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    -webkit-animation: contactFade .5s;
            animation: contactFade .5s;
}

.contact__modal.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact__success
{
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .7);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__success h1
{
    font-size: 50px;

    display: block;

    color: white;
}

.footer
{
    font-family: Roboto;
    font-weight: 700;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 70px;

    text-align: center;
    text-transform: uppercase;

    background-color: #f8f8f8;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 1441px)
{
    section
    {
        padding: 105px 0;
    }

    h2
    {
        margin-bottom: 85px;
    }

    h4
    {
        margin-bottom: 65px;
    }
}

@media (max-width: 1200px)
{
    .container
    {
        max-width: 970px;
    }

    section
    {
        padding: 90px 0;
    }

    h2
    {
        margin-bottom: 70px;
    }

    h4
    {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px)
{
    .container
    {
        max-width: 750px;
    }

    .portfolio__element
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
    }

    section
    {
        padding: 75px 0;
    }

    h2
    {
        margin-bottom: 55px;
    }

    h4
    {
        margin-bottom: 35px;
    }
}

@media (max-width: 767px)
{
    .container
    {
        max-width: none;
        padding: 0 20px;
    }

    .header__body
    {
        z-index: auto;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__list
    {
        position: absolute;
        z-index: 1;
        top: -350px;
        left: 0;

            flex-direction: column;

        width: 100%;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;
        text-align: center;

        border-bottom: 1px solid #8e8e8e;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .header__list.active
    {
        top: 70px;
    }

    .header__list li a
    {
        font-size: 30px;

        padding: 20px 20px;
    }

    .header__mask
    {
        z-index: 2;

        border-bottom: 1px solid #8e8e8e;
    }

    .header__burger
    {
        position: relative;
        z-index: 3;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        width: 50px;
        height: 40px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header__burger div
    {
        width: 100%;
        height: 6px;

        -webkit-transition: .5s;
             -o-transition: .5s;
                transition: .5s;

        opacity: 1;
        border-radius: 3px;
        background-color: gray;
    }

    .header__burger.active
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__burger.active div
    {
        position: absolute;
    }

    .header__burger.active #line1
    {
        -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
                transform: rotate(225deg);
    }

    .header__burger.active #line2
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);

        opacity: 0;
    }

    .header__burger.active #line3
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }

    .about__body
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .about__info
    {
        margin: 0 0 10% 0;
    }

    .about__info h1
    {
        text-align: center;
    }

    .portfolio__element
    {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    }

    .education__classicstudy
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .education__selfstudy
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .contact__email-name input
    {
        max-width: none;

        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    }

    section
    {
        padding: 50px 0;
    }

    h2
    {
        margin-bottom: 40px;
    }

    h4
    {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px)
{
    .container
    {
        padding: 0 10px;
    }

    h1
    {
        font-size: 50px;
    }

    h2
    {
        font-size: 35px;
    }

    .header
    {
        height: 60px;
    }

    .header__burger
    {
        width: 45px;
        height: 35px;
    }

    .header__list.active
    {
        top: 60px;
    }
}
@supports (-webkit-appearance:none)
{
}

@media (max-width: 1441px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 1200px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 992px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 767px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 576px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
